@charset "utf-8";
/* CSS Document */

body {
	font-family:"微軟正黑體","Microsoft JhengHei","Noto Serif", "serif", sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #000;
    display: block;
    margin: 0 auto;
	padding: 0;
    clear: both;
    position: relative;
    background: #fff;
}
.lan_wrapper {
    max-width: 1280px;
    display: block;
    margin: 0 auto;
    clear: both;
}
section {
    margin: 0 auto;
	width: 100%;
    clear: both;
    position: relative;
	}
.mb{display:none;}
@media(max-width:801px){
.pc{display:none;}
.mb{display:block;}
}
h1,h2,h3,h4,h5,h6,p{line-height: 1.2em;padding:0;margin:3px auto;text-decoration: none;letter-spacing: normal;}
p{line-height: 1.6em;}

/*--------購買按鈕--------*/
.btn_go{display: inline-block;text-align: center;margin:10px auto;padding:8px 40px;font-size:18px;letter-spacing: 0.1em; color:#fff;background-color:#000;border:1px solid #000;text-decoration:none;}
a .btn_go{text-decoration:none;}
a .btn_go:hover{color:#000;background-color:#fff;}
@media(max-width:800px){
.btn_go{font-size:22px;;padding:12px 60px;}
}
@media(max-width:415px){
.btn_go {font-size: 21px;padding: 8px 60px;}
}
@media(max-width:320px){
.btn_go {padding: 5px 50px;}
}

/*------sec_01 KV------*/
.sec_01{background:url("../images/kv_bg.jpg")top center no-repeat;background-size:cover;width:100%;height:0;padding-top:72.5%;}
.sec_01 .intro{position: absolute;z-index: 9;text-align: right;top: 76%;right:4%;width:100%;}
.sec_01 .intro h1{font-size: 34px;margin-right: -1%;}
.sec_01 .intro h1 br{display:none;}
.sec_01 .intro h2{font-size: 24px;font-weight: normal!important;margin:0 auto 8px;}
.sec_01 .intro font{font-size: 21px;padding:0 15px;border:1px solid #6f3f97;color:#6f3f97;margin-right:8px;}
.sec_01 .intro p{font-size: 21px;}
.sec_01 .btn_wrap {position: absolute;width: 100%; text-align: right;right: 4%; bottom: 5%;}

@media(max-width:1024px){
.sec_01 .intro h1{font-size: 28px;}
.sec_01 .intro h2{font-size: 22px;margin:0 auto;} 
.sec_01 .intro font{font-size: 18px;}    
.sec_01 .intro p{font-size: 18px;}
.sec_01 .btn_wrap{bottom: 2.5%;}  
}
@media(max-width:800px){
.sec_01{background:url("../images/kv_bg_mb.jpg")top center no-repeat;background-size:cover;width:100%;height:0;padding-top:161%;}
.sec_01 .intro{top: 67%;right: 3%;}
.sec_01 .intro h1{font-size: 40px;margin-right: -2%;}	
.sec_01 .intro h1 br{display:block;}    
.sec_01 .intro h2{font-size: 30px;margin:10px auto 25px;}
.sec_01 .intro font{font-size: 26px;}    
.sec_01 .intro p{font-size: 28px;margin-top:1%;}
.sec_01 .btn_wrap{text-align: center;right: 0; bottom: 9%;} 
}
@media(max-width:415px){
.sec_01 .intro{top: 65%;}    
.sec_01 .intro h1{font-size: 28px;}	
.sec_01 .intro h2{font-size: 21px;margin:5px auto;}
.sec_01 .intro font{font-size: 18px;margin-right:5px;}     
.sec_01 .intro p{font-size: 18px;}
.sec_01 .btn_wrap{bottom: 3%;}     
}
@media(max-width:376px){
.sec_01 .intro h1{font-size: 24px;}
.sec_01 .intro h2{font-size: 20px;margin:5px auto;}
.sec_01 .intro font{font-size: 17px;}     
.sec_01 .intro p{font-size: 17px;}    
}
@media(max-width:320px){
.sec_01 .intro h1{font-size: 22px;margin: 0 -2% 0 auto;}
.sec_01 .intro h2 {font-size: 18px;margin: 0 auto;}
.sec_01 .intro font{font-size: 15px;}    
.sec_01 .intro p{font-size: 15px;margin: 0 auto;}
.sec_01 .btn_wrap{bottom: 2.5%;}      
}

/*------sec_02 video------*/
.sec_02 .wrap{width:100%;position: relative;top:0;z-index: 2;margin: 0 auto -5px;}
@media(max-width:800px){
.sec_02{background:url("../images/s2_bg.jpg")top center no-repeat;background-size:cover;width:100%;height:0;padding-top: 104.5%;}
.sec_02 .wrap{position: absolute;} 
.sec_02{display:none;}  
}   
/*------sec_02 03 04 05 06 07 common------*/
.title{width:100%;text-align: center;position:absolute;top:7.5%;z-index: 9;}
.title h1{font-size: 44px;font-weight:normal;}
.title h2{font-size: 30px;font-weight:normal;color:#6f3f97;}
@media(max-width:1024px){  
.title h1{font-size: 40px;}
.title h2{font-size: 28px;}
}
@media(max-width:800px){
.title{top:6%;} 
.sec_02 .title{top:10%;}      
.title h1{font-size: 56px;}
.title h2{font-size: 36px;}
}
@media(max-width:415px){  
.title h1{font-size: 32px;}
.title h2{font-size: 24px;}
}
@media(max-width:376px){
.title h1{font-size: 30px;}
.title h2{font-size: 22px;}
}
@media(max-width:320px){
.title h1{font-size: 27px;}
.title h2{font-size: 20px;}
}

/*------sec_03------*/
.sec_03{background:url("../images/s3_bg.jpg")top center no-repeat;background-size:cover;width:100%;height:0;margin:-5px auto 0;padding-top: 69.3%;}
.sec_03 .words{width:40%;position:absolute;top:38%;right:3.5%;}
.sec_03 .words .words_2{margin-top:18%;}
.sec_03 p{font-size: 21px;line-height: 1.5em;text-align:justify;text-justify:inter-ideograph;letter-spacing: -0.01em;}
.sec_03 .words h2{font-size: 30px;font-weight:normal;color:#6f3f97;letter-spacing: -0.01em;}
.sec_03 .words h2 font{font-weight:bold;}
.sec_03 .words .black{color:#000;}

@media(max-width:1024px){
.sec_03 p{font-size: 18px;}
.sec_03 .words h2{font-size: 26px;}
}
@media(max-width:800px){
.sec_03{background:url("../images/s3_bg_mb.jpg")top center no-repeat;background-size:cover;padding-top: 209%;/*margin-top: -8%;*/z-index: 3;}    
.sec_03 .words{width:80%;top:65%;right:0;left:11%}
.sec_03 .words .words_2{margin-top:5%;}
.sec_03 p{font-size: 28px;}
.sec_03 .words h2{font-size: 37px;}
}
@media(max-width:415px){   
.sec_03 p{font-size: 17px;}
.sec_03 .words h2{font-size: 20px;}
}
@media(max-width:376px){
.sec_03 p{font-size: 16px;}
.sec_03 .words h2{font-size: 18px;}
}
@media(max-width:320px){
.sec_03 p{font-size: 14px;}
.sec_03 .words h2{font-size: 16px;}	
}
/*------sec_04------*/
.sec_04{background:url("../images/s4_bg.jpg")top center no-repeat;background-size:cover;width:100%;height:0;padding-top: 44.7%;}
.sec_04 .pic{position:absolute;top:31%;right:18%;width:39%;}
.sec_04 .pic img{display:inline-block;width:49.5%;}
.sec_04 .wrap{position:absolute;left:13%;bottom:10%;}
.sec_04 .note{font-size: 12px;color:#656464;line-height: 1.4em;}
@media(max-width:800px){
.sec_04{background:url("../images/s4_bg_mb.jpg")top center no-repeat;background-size:cover;padding-top: 143%;}     
.sec_04 .pic{top:55%;right:auto;width:100%;text-align: center;}
.sec_04 .pic img{width:37%;} 
.sec_04 .wrap{left:auto;bottom:6%;width:100%;text-align:left;}
.sec_04 .note{font-size: 20px;width:78%;margin:0 auto;}    
}
@media(max-width:415px){
.sec_04 .note{font-size: 12px;width:90%;}    
}    
/*------sec_04 動態文字------*/
.sec_04 .words{position:absolute;left:12%;top:25%;}
.devider{display:block;width:100%;border-bottom: 1px dashed #6f3f97;height:1px;}
.animate,.animate2,.animate3{
position: relative;
font-weight: 400;
font-size: 36px;
color:#4c4c4c;
padding:0 10px;
}
.text-wrapper {
  position: relative;
  display: inline-block;
}
.letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
 color:#6f3f97;    
} 
.letter:nth-child(1){font-size: 2em;font-family: "Noto Serif", "serif", sans-serif;  }  
.circle,.letter:nth-child(2){color:#fff;font-size: 1em;background-color:#ae80ca;width:1.4em;height:1.4em;border-radius:999em;text-align: center;padding-bottom:0;display:inline-block;margin:0 2px;}
.number,.letter:nth-child(1),.letter:nth-child(3),.letter:nth-child(4){font-size: 2em;font-family: "Futura Md","Noto Serif", "serif", sans-serif!important;display:inline-block;color:#6f3f97; } 
@media(max-width:1024px){
.animate,.animate2,.animate3{font-size: 28px;}
}
@media(max-width:800px){
.sec_04 .words{left:0;top:16%;width:100%;text-align: center;}
.devider{width:65%;margin:0 auto;}  
.animate,.animate2,.animate3{font-size: 40px;}    
}
@media(max-width:415px){     
.animate,.animate2,.animate3{font-size: 24px;}
}
@media(max-width:376px){
.animate,.animate2,.animate3{font-size: 21px;}
}
@media(max-width:320px){
.animate,.animate2,.animate3{font-size:18px;}
}

/*------sec_05------*/
.sec_05{background:url("../images/s5_bg.jpg")top center no-repeat;background-size:cover;width:100%;height:0;padding-top: 57.5%;}
.sec_05 .pic{position:absolute;top:22%;left:12%;width:35%;}
.sec_05 .pic img {width:47.5%;}
.sec_05 .pic img:nth-child(2){position:relative;margin-top:-25%;margin-left:48.2%;}
.sec_05 .pic img:nth-child(3){position:relative;margin-top:0.5%;margin-left:25%;}
.sec_05 .words{position:absolute;top:41%;right:12%;width:38%; }
.sec_05 .words div{display: inline-block;}
.sec_05 .words div img{vertical-align: baseline;width:35%;}
.sec_05 .words p{font-size:26px;color: #4c4c4c;line-height: 1.4em;display: inline-block;}
.sec_05 .words div:nth-child(2),.sec_05 .words div:nth-child(3){position:relative;margin-top: 8%;}
@media(max-width:1024px){ 
.sec_05 .words div:nth-child(1) img{width:30%;}    
.sec_05 .words div img{width:33%;}    
.sec_05 .words p{font-size:24px;}
.sec_05 .words div:nth-child(2),.sec_05 .words div:nth-child(3){position:relative;margin-top: 5%;}    
}	
@media(max-width:800px){
.sec_05{background:url("../images/s5_bg_mb.jpg")top center no-repeat;background-size:cover;padding-top: 126%;} 
.sec_05 .words{top: 26%;right: auto;width: 70%;left: 10%; } 
.sec_05 .words p{font-size:29px;}
.sec_05 .words div:nth-child(1) img{width:31%;}     
.sec_05 .words div img{width:35%;}
.sec_05 .pic{top: 70%;left: 0;width: 100%;}
.sec_05 .pic img {width:32.9%;}  
.sec_05 .pic img:nth-child(2),.sec_05 .pic img:nth-child(3){margin-top:0;margin-left:auto;}  
}
@media(max-width:415px){
 .sec_05 .words{left: 7.5%; } 
.sec_05 .words div:nth-child(1) img{width:24%;}     
.sec_05 .words div img{width:31%;}    
.sec_05 .words p{font-size:18px;}
.sec_05 .pic img {width:32.5%;}      
}
@media(max-width:376px){
.sec_05 .pic img {width:32.4%;}      
.sec_05 .words p{font-size:17px;}
}
@media(max-width:320px){
.sec_05 .words p{font-size:15px;}
.sec_05 .pic img {width:32.3%;}    
}

/*------sec_06------*/
.sec_06{background:url("../images/s6_bg.jpg")top center no-repeat;background-size:cover;width:100%;height:0;padding-top: 112.2%;}
.sec_06 .slideshow{position: absolute;top:16%;width:73%;left:13%;}
.sec_06 .slideshow .step{width:49%;display:inline-block;text-align: center;}
.sec_06 .step img{width:78%;}
.sec_06 dl{font-size:21px;margin: 0 auto;}
.sec_06 dt{font-size:1.3em;color:#6f3f97;border:1px solid #6f3f97;padding:0.3em 0;width: 50%;margin: 0 auto;}
.sec_06 dd{font-size:1em;color:#4c4c4c;line-height: 1.6em;text-align: left;width: 100%;margin: 0.7em auto 0 3em;}
.sec_06 dd h1{font-size:1.3em;color:#6f3f97;font-weight: bold;}
.sec_06 .slideshow div:nth-child(even){float:right;}

@media(max-width:1024px){
.sec_06 .slideshow{width:78%;left:8%;}
.sec_06 dl{font-size:17.5px;}    
}	

@media(max-width:800px){
.sec_06{background:url("../images/s6_bg_mb.jpg")top center no-repeat;background-size:cover;padding-top: 195%;} 
.sec_06 .slideshow{width:100%;left:auto;top:20%;}
.sec_06 .slideshow .step{width:100%;display:block;}  
.sec_06 .slideshow div:nth-child(even){float:left;}    
.sec_06 dl{font-size:28px;} 
.sec_06 dd{font-size:1em;line-height: 1.6em;width:auto;margin: 0.7em 3em 0 3em;}    
}
@media(max-width:415px){
.sec_06 dl{font-size:17px;} 
.sec_06 dd{margin: 0.7em 1.7em 0 2.5em;}      
}
@media(max-width:376px){
.sec_06 dd{margin: 0.7em 2em 0 2.5em;}     
.sec_06 dl{font-size:16px;}    
}
@media(max-width:320px){
.sec_06 dd{margin: 0.7em 1.7em 0;}     
.sec_06 dl{font-size:14px;}    
}
/*------sec_07------*/
.sec_07{background:url("../images/s7_bg.jpg")top center no-repeat;background-size:cover;width:100%;height:0;padding-top:39.5%;}
.sec_07 .wrap{width:60%;position:absolute;top:5%;left:23%;font-size:13px;}
.sec_07 .pic{width: 43%;float:left;}
.sec_07 .pic img{width: 100%;}
.sec_07 .words{width: 50%;text-align: left;float:left;margin-top: 30%;}
.sec_07 .words h1{font-size:2.8em;font-weight: normal;}
.sec_07 .words p{font-size:1.8em;color:#4c4c4c;line-height: 1.6em;}
.sec_07 .words span{font-size:1.1em;color:#6f3f97;}
.sec_07 .words font{font-size:1.7em;color:#6f3f97;font-family: "Futura Md","Noto Serif", "serif", sans-serif!important;}

@media(max-width:1024px){
.sec_07 .wrap{font-size:12px;}
}	
@media(max-width:800px){
.sec_07{background:url("../images/s7_bg_mb.jpg")top center no-repeat;background-size:cover;padding-top: 117.4%;}
.sec_07 .wrap{width:100%;left:0;font-size:18px;}  
.sec_07 .pic{width: 100%;float:none;text-align: center;}
.sec_07 .pic img{width: 58%;}
.sec_07 .words{width: 100%;text-align: center;float:none;margin-top: 1%;}    
}
@media(max-width:415px){
.sec_07 .wrap{font-size:10px;top:0;} 
.sec_07 .words p{line-height: 1.4em;}    
}
@media(max-width:376px){
.sec_07 .wrap{font-size:9.5px;}    
}
@media(max-width:320px){
.sec_07 .wrap{font-size:9px;}    
}

